<div class="profile-header__bottom fs-base">
    <div class="crayons-definition">
      <strong class="crayons-definition__title">
        <%= inline_svg_tag("briefcase.svg", class: "crayons-icon mr-2 shrink-0", aria: true, width: 24, height: 24, title: t("views.users.email_icon")) %>
      </strong>
      <p class="crayons-definition__value">
        <a href="https://lookingood.co.kr/" target="_blank" class="profile-header__meta__item" style="color: #808080;">
          옵틱라이프
        </a>
      </p>
    </div>

    <div class="crayons-definition">
      <strong class="crayons-definition__title">
        <%= inline_svg_tag("language.svg", class: "crayons-icon mr-2 shrink-0", aria: true, width: 24, height: 24, title: t("views.users.language")) %>
      </strong>
      <p class="crayons-definition__value" style="color: #808080;">
          kr, en, jp
      </p>
    </div>
</div>
