<p class="fs-base m:fs-l color-base-90 mb-4 mx-auto max-w-100 m:max-w-75">
	안녕하세요. 루비온레일즈 주니어 개발자 박훈입니다. early stage 스타트업에서 고분분투해가며 성장해 나가고 있습니다.
	참고 자료도, 시니어도 없는 개발 조직에서 살아남기 위해 오픈소스 코드를 사수 삼아 공부 중입니다.
	그리고 그 첫 번째 결과물이 바로 Railslation입니다.<br>
	Railslation은 Rails에 관한 양질의 자료들을 한곳에 모아보고 싶다는 생각에서 시작되었습니다.
	나아가 영어나 일본어를 부담스러워하시는 국내의 루비온레일즈 개발자들을 위해 해당 자료들을 번역하여 공유하고자 합니다.
	물론 저작권으로 인해 모든 글들을 번역할 수는 없겠지만, 최대한 원작자들의 허가를 받아내도록 노력해 볼 예정입니다.
</p>