<ul class="crayons-navigation">
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Article" href="javascript:;">
    <%= t("views.search.nav.articles") %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:PodcastEpisode" href="javascript:;">
    <%= t("views.search.nav.rss") %>
  </a></li>
</ul>
