<div id="sidebar-wrapper-left" class="sidebar-wrapper sidebar-wrapper-left crayons-layout__sidebar-left">
	<aside class="side-bar" aria-label="Primary sidebar">
		<% cache(adjusted_cache_key("main-sidebar-nav-#{user_signed_in?}"), expires_in: 1.hours) do %>
			<%= render "shared/site_description" %>
			<%= render partial: "layouts/main_nav" %>
		<% end %>
	</aside>
</div>

<!-- 레일즈 공식 사이트
채용공고
오픈소스 깃헙
레일즈 강의 -->