<h1>New article</h1>

<%= render "shared/webcomponents_loader_script" %>
<%= render 'form', article: @article %>
<%= javascript_packs_with_chunks_tag "toolbar", defer: true %>
<%= link_to 'Back', root_path %>