<div class="crayons-card crayons-card--secondary p-4">
	<h2 class="fs-l fw-bold mb-2">Railslation</h2>
	<p class="color-base-70 mb-4">
		안녕하세요👋<br>
		Railslation은
		국내🇰🇷의 루비온레일즈 개발자👨‍💻를 위해
		루비온레일즈 관련 정보를 한 곳에 모아둔 곳이에요💡<br>
		추가 하고 싶은 정보가 있으시다면
		아래 이메일로 문의주세요!
	</p>
	<p>
		<a href="mailto: hoonpark7442@gmail.com" target="_blank" class="text-secondary" style="color: #808080;"><u>hoonpark7442@gmail.com</u></a>
	</p>
</div>