<p>루비온레일즈는 MVC 패턴에 따라 편리하게 웹 어플리케이션을 구축할 수 있게 해주는 웹 프레임워크입니다. 쉽고 빠르게 웹 어플리케이션을 구축할 수 있다는 큰 장점 덕분에 많은 스타트업에서 채택하고 있기도 해요.</p>
<p>이 루비온레일즈는 덴마크의 데이비드 하이네마이어 핸슨(일명 DHH)가 오픈소스로 만들었는데요, DHH의 블로그를 보고 싶으시다면 Railslation의 
  <a href="https://railslation.com/rss_feed">RSS Feed</a>에서 확인해 보시는 걸 추천드려요!</p>
<h3>공식 사이트</h3>
<p>루비온레일즈의 공식 사이트를 아래에서 확인해 보세요</p>
<ul>
  <li><a href="https://rubyonrails.org/">루비온레일즈 웹사이트</a></li>
  <li><a href="https://guides.rubyonrails.org/">루비온레일즈 가이드</a></li>
  <li><a href="https://github.com/rails/rails">루비온레일즈 Github</a></li>
  <li><a href="https://api.rubyonrails.org/">루비온레일즈 API</a></li>
  <li><a href="https://discuss.rubyonrails.org/">루비온레일즈 Forum</a></li>
</ul>

<p>라이브러리가 빠질 수 없죠. 루비온레일즈의 Gem 사이트를 확인해 보세요</p>
<ul>
  <li><a href="https://rubygems.org/">Rubygem</a></li>
</ul>

<p>루비온레일즈 컨퍼런스 정보를 아래에서 확인해 보세요</p>
<ul>
  <li><a href="https://railsconf.org/">Railsconf</a></li>
</ul>

<p>루비의 공식 사이트를 아래에서 확인해 보세요</p>
<ul>
  <li><a href="https://www.ruby-lang.org/en/">루비 웹사이트</a></li>
  <li><a href="https://ruby-doc.org/">루비 Docs</a></li>
</ul>